<!DOCTYPE html>
<html lang="en">
<head>
	
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=".\css\CSS Style Sheet.css">
	<title></title>

</head>
<body>

<header> 

	<span class="Jimmy_Carr_Name_Left">
		<strong class="menu_one"> Jimmy Carr </strong>
		
	</span>
	<span class="home_bar">
		<strong> Home</strong>
	</span>
	<span class="next_thing"> Next thing</span>
	
	
	
</header>
	
<nav></nav>

<main></main>
	
<section></section>

<footer></footer>

</body>
</html>
